:root {
    --primary-color: #FFC611;
    --secondary-color: #091F3A;
}

body {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.card {
    background-color: #fff;
    color: #000;
}

.form-preview {
    border: 2px dashed #ddd;
    padding: 20px;
    min-height: 200px;
    background-color: #fff;
    color: #000;
}

#form-generator-container {
    margin-top: 20px;
}

.list-group-item {
    color: var(--secondary-color);
}

.alert {
    word-wrap: break-word;
}

.form-delete {
    margin: auto;
}